<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:switch="${members}">
    <h2 th:case="null">No members yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.role}"></td>
                    <td><a th:href="@{/edit/{id}(id=${member.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${member.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new user</a></p>
</div>