<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
	<tr>
	<th class="table_header" style="width:100px;">Name</th>
	<th style="width:100px;">Surname</th>
	<th style="width:100px;">Role</th>
	</tr>
	<tr th:each="member : ${members}" >
	<td th:text="${member.name} + '!'"/>
	<td th:text="${member.surname} + '!'"/>
	<td th:text="${member.role} + '!'"/>
    </tr>
    </table>
</body>
</html>